body{
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  background-color:#3BE362;
  height: 0%;
}
h2{
  margin: 0;
  padding: 0em;
}


}
.container{
  background-color: ;
  padding: 0em;
  overflow: hidden;
}

.item{
  margin: 1em;
  padding: 1em;
  color: ;
  float: left;
}
#item1{
  background-color: ;
}

#item2{
  background-color:blue ;
}

